@import '../../../01_fundaments/colors/styles/_settings';

/* Carpart option - Luggage sub-component
---------------------------------------------*/
.roofRack {
	position: relative;
	height: 2rem;
	margin-bottom: 1rem;
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	background: var(--car--color);
	box-shadow: inset 0 0 0 .15rem color('neutrals-6');

	/* Support beams
	---------------------------------------------*/
	&:before,
	&:after {
		position: absolute;
		bottom: -1.15rem;
		display: block;
		width: 1rem;
		height: 2rem;
		border-top-left-radius: .5rem;
		border-top-right-radius: .5rem;
		background: var(--car--color);
		box-shadow: inset 0 0 0 .15rem color('neutrals-6');
		content: '';

		filter: brightness(70%);
	}

	&:before {
		left: 25%;
	}

	&:after {
		left: 75%;
	}
}
