/* ==========================================================================
Box sizing
========================================================================== */
html {
	display: block;
	width: 100%;
	overflow-y: scroll;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* ==========================================================================
Html & body
========================================================================== */
html,
body {
	overflow-x: hidden;
}

body {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
