/* Editor page
---------------------------------------------*/
.editor {
	display: grid;
	align-items: flex-end;
	grid-template-areas: 'colors' 'preview' 'parts';
	max-width: 96rem;
	margin: auto;

	/* Component Placement
	---------------------------------------------*/
	.colorselection {
		grid-area: colors;
	}

	.car-wrapper,
	.road-wrapper {
		grid-area: preview;
	}

	.carpartpreview {
		grid-area: parts;
	}
}
