@import '../../../01_fundaments/layout/styles/_settings';
@import '../../../01_fundaments/colors/styles/_settings';

/* Editor - Carparts listing
---------------------------------------------*/
.carPartListing__item {
	transform: scale(.75);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	cursor: pointer;
	list-style-type: none;

	@include media('md') {
		transform: scale(.75);
	}

	&.is-selected {
		outline: .3rem solid color('brand-1');
		outline-offset: 1rem;
	}
}

/* Carpart Name
---------------------------------------------*/
.carPartListing__title {
	padding: 2rem 0;
}

/* Exeptions / modifiers
---------------------------------------------*/
.carPartListing__item--door {
	flex-direction: row;

	.door {
		transform: scale(.5);
		transform-origin: right;

		& + .door {
			transform-origin: left;
		}
	}

	.carPartListing__title {
		position: absolute;
	}
}

.carPartListing__item--doorStrip {
	.doorStrip {
		position: relative;
		top: 2rem;
		width: 50%;

		align-self: flex-start;

		& + .doorStrip {
			top: 0;
			justify-content: flex-start;
			border-top-left-radius: 0;
			border-top-right-radius: 2rem;
			border-bottom-right-radius: 2rem;
			border-bottom-left-radius: 0;

			align-self: flex-end;

			&:before {
				border-top-left-radius: 0;
				border-top-right-radius: 2rem;
				border-bottom-right-radius: 2rem;
				border-bottom-left-radius: 0;
			}
		}
	}
}
