@import '../../../01_fundaments/layout/styles/_settings';
@import '../../../01_fundaments/colors/styles/_settings';
@import '../../../01_fundaments/utilities/styles/_settings';

/* Car default scenery
---------------------------------------------*/
.road-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	height: 10.5rem;
	overflow-x: hidden;

	perspective: 120rem;

	@include media('sm') {
		height: 15.5rem;
	}
	@include media('md') {
		height: 25.5rem;
	}
	/* Animation
	---------------------------------------------*/

	@include keyframes(move-road-wrapper) {
		50% {
			transform: translate(.2rem, -.6rem);
		}
	}

	&--moving {
		@include animation(move-road-wrapper 1s linear infinite);
	}

	/* Main road
	---------------------------------------------*/
	.road {
		transform: rotateX(90deg);
		transform-origin: bottom;
		position: absolute;
		bottom: 0;
		left: -75%;
		width: 350%;
		height: 150rem;
		background-color: color('neutrals-8');

		@include keyframes(move-road) {
			to {
				transform: rotateX(90deg) translate3d(-24rem, 0, 0);
			}
		}

		/* Road marking
		---------------------------------------------*/
		&:before {
			position: absolute;
			top: 68%;
			left: 0;
			width: 100%;
			border-top: 40px dashed white;
			content: '';
		}

		@at-root .road-wrapper--moving .road {
			@include animation(move-road 1s linear reverse infinite forwards);
		}
	}
}
