@import '../../../01_fundaments/layout/styles/_settings';

/* Editor component
---------------------------------------------*/
.carPartPreview {
	margin-top: 2rem;
	margin-bottom: 2rem;

	@include media('md') {
		width: 33.333%;
	}

	/* Close button
	---------------------------------------------*/
	.carPartPreview__action {
		text-align: center;
	}

	/* Alignment with car sections
	---------------------------------------------*/
	&--passengerArea {
		@include media('md') {
			margin-right: auto;
			margin-left: auto;
		}
	}

	&--trunkSpace {
		@include media('md') {
			margin-right: 0;
			margin-left: auto;
		}
	}
}
