@import '../../../01_fundaments/utilities/styles/_settings';
@import '../../../01_fundaments/layout/styles/_settings';

/* Car section - middle
---------------------------------------------*/
.passengerArea {
	display: inline-grid;
	grid-template-areas: 'luggage luggage'
	'doorFront doorBack';
	grid-template-rows: 14rem 28rem 7.5rem;
	grid-template-columns: auto;
	width: 100%;
	max-width: 28rem;

	/* Component placement
	---------------------------------------------*/
	.luggage {
		grid-area: luggage;
	}

	.door {
		grid-area: doorFront;

		&--back {
			grid-area: doorBack;
		}
	}

	.button {
		grid-area: doorFront;
		margin: 0 -5rem 0 auto;

		align-self: center;

		@include media('md') {
			margin: 2.5rem -3.25rem auto auto;
		}

		@include keyframes(pulsate-button) {
			25% {
				transform: scale(1.1);
			}
			50% {
				transform: scale(1);
			}
		}

		@at-root .passengerArea:hover .button {
			@include animation(pulsate-button .75s ease-in-out infinite);
		}
	}
}
